/* GYB */
/* HEADER GLOBAL CSS */
.header__logo {
  height: 30vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo img {
  width: 300px;
}
.main__gradient {
  display: flex;
  justify-content: center;
}
.main__gradient img {
  width: 50vw;
  height: .5vh;
}
/* HISTORY CSS */
.main__history {
  height: 70vh;
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0 13vw 0 17vw;
}
.main__history img {
  height: 75vh;
  float: right;
}
.main__history .history__text {
  display: flex;
  flex-direction: column;
}
.main__history .history__text img:first-child {
  width: 150px;
  height: fit-content;
  margin-top: 50px;
  margin-bottom: 50px;
}
.main__history .history__text img:nth-child(2) {
  width: 270px;
  height: fit-content;
}
/* VISION CSS */
.main__vision {
  height: 100vh;
  background-color: white;
  display: grid;
  grid-template-rows: 2fr 4fr;
}
.main__vision .vision__text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__vision .vision__text img {
  width: 300px;
}

.main__vision .vision__image {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.main__vision .vision__image .image__col {
  width: 300px;
  height: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__vision .vision__image .MVTitle {
  width: 60px;
}
.main__vision .vision__image .MVDetail {
  height: 450px;
  width: 350px;
}

/* MOCKUP CSS */
.main__mockup {
  height: 100vh;
  background-color: black;
  position: relative;
}
.main__mockup .mockupBackground {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.main__mockup .mockupTitle {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 10vw;
  top: 14vh;
}
.main__mockup .mockupTitleTop {
  width: 300px;
  margin-bottom: 7vh;
}
.main__mockup .mockupTitleBottom {
  width: 200px;
}

/* TEAM CSS */
.main__team {
  height: 160vh;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 3fr 3fr;
}
.main__team .team__text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.main__team .teamMates__teamMate {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.main__team .teamMates__teamMate .teamMate {
  display: flex;
  flex-direction: row;
}
.main__team .teamMates__teamMate .teamMate__icon img {
  width: 100px;
}
.main__team .teamMates__teamMate .teamMate__msg img {
  width: 500px;
}
.main__team .team__text img {
  width: 300px;
  height: 40px;
}

/* TEAMIMAGE */
.teamMate__teamImage {
  display: flex;
  justify-content: center;
}
.teamMate__teamImage img {
  width: 600px;
  height: 450px;
  opacity: 0.9;
  margin-top: 9vh;
}
/* FOOTER */
.footer__text {
  height: 30vh;
  background-color: white;
  justify-content: center;
  display: flex;
  align-items: center;
}
.footer__text img {
  width: 250px;
  height: 50px;
}

@media (min-width: 1281px) {
}

@media (min-width: 1025px) and (max-width: 1280px) {
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* HISTORY CSS */
  .main__history {
    padding: 0 12vw 0 16vw;
  }
  .main__history .history__text img:first-child {
    width: 120px;
  }
  .main__history .history__text img:nth-child(2) {
    width: 220px;
  }
  .main__history img {
    height: 60vh;
  }
  /* VISION */
  .main__vision .vision__text img {
    width: 250px;
  }
  .main__vision .vision__image .MVTitle {
    width: 50px;
  }
  .main__vision .vision__image .MVDetail {
    height: 400px;
    width: 300px;
  }
  /* MOCKUP  */
  .main__mockup .mockupTitleTop {
    width: 250px;
  }
  .main__mockup .mockupTitleBottom {
    width: 150px;
  }
  /* TEAM CSS */
  .main__team .team__text img {
    width: 280px;
    height: 35px;
  }

  .main__team .teamMates__teamMate .teamMate__icon img {
    width: 70px;
  }
  .main__team .teamMates__teamMate .teamMate__msg img {
    width: 450px;
  }

  .body {
    background-color: yellow;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* HISTORY CSS */
  .main__history {
    padding: 0 12vw 0 16vw;
  }
  .main__history .history__text img:first-child {
    width: 130px;
  }
  .main__history .history__text img:nth-child(2) {
    width: 230px;
  }
  .main__history img {
    height: 65vh;
  }
  /* VISION */
  .main__vision .vision__text img {
    width: 250px;
  }
  .main__vision .vision__image .MVTitle {
    width: 50px;
  }
  .main__vision .vision__image .MVDetail {
    height: 400px;
    width: 300px;
  }
  /* MOCKUP  */
  .main__mockup .mockupTitleTop {
    width: 250px;
  }
  .main__mockup .mockupTitleBottom {
    width: 150px;
  }
  /* TEAM CSS */
  .main__team .team__text img {
    width: 280px;
    height: 35px;
  }

  .main__team .teamMates__teamMate .teamMate__icon img {
    width: 80px;
  }
  .main__team .teamMates__teamMate .teamMate__msg img {
    width: 480px;
  }

  .body {
    background-color: green;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  /* HEADER CSS */
  .header__logo {
    height: 20vh;
  }
  .header__logo img {
    width: 200px;
  }

  /* HISTORY CSS */
  .main__history {
    justify-content: center;
    padding: 0 12vw;
    height: 80vh;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .main__history .history__text {
    display: flex;
    align-items: center;
  }
  .history__img {
    display: flex;
    justify-content: center;
  }
  .main__history .history__text img:first-child {
    width: 130px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .main__history img {
    float: none;
  }
  .main__history .history__text img:nth-child(2) {
    width: 230px;
  }
  .main__history img {
    height: 60vh;
  }

  /* VISION */
  .main__vision .vision__image {
    grid-template-columns: 1fr;
  }
  .main__vision .vision__text img {
    width: 250px;
  }
  .main__vision .vision__image .MVTitle {
    width: 50px;
  }
  .main__vision .vision__image .MVDetail {
    height: 400px;
    width: 300px;
  }
  /* MOCKUP  */
  .main__mockup .mockupTitleTop {
    width: 250px;
  }
  .main__mockup img {
    object-position: top center;
  }
  .main__mockup .mockupTitleBottom {
    width: 150px;
  }
  /* TEAM CSS */
  .main__team .team__text img {
    width: 200px;
    height: 25px;
  }

  .main__team .teamMates__teamMate .teamMate__icon img {
    width: 60px;
  }
  .main__team .teamMates__teamMate .teamMate__msg img {
    width: 330px;
  }
  .main__team .team__teamMates {
    width: auto;
  }
  /* TEAMIMAGE */
  .teamMate__teamImage img {
    width: 470px;
    height: 350px;
  }
  /* FOOTER */
  .footer__text img {
    width: 200px;
    height: 40px;
  }
  .body {
    background-color: blue;
  }
}

@media (min-width: 5px) and (max-width: 480px) {
  /* HEADER CSS */
  .header__logo {
    height: 20vh;
  }
  .header__logo img {
    width: 150px;
  }

  /* HISTORY CSS */
  .main__history {
    justify-content: center;
    padding: 0 12vw;
    height: 80vh;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .main__history .history__text {
    display: flex;
    align-items: center;
  }
  .history__img {
    display: flex;
    justify-content: center;
  }
  .main__history .history__text img:first-child {
    width: 25vw;
    height: 2vh;
    margin-bottom: 20px;
    margin-top: 10px;
    height: fit-contentx;
  }
  .main__history img {
    float: none;
  }
  .main__history .history__text img:nth-child(2) {
    width: 40vw;
    height: fit-content;
  }
  .main__history img {
    height: 60vh;
  }

  /* VISION */
  .main__vision .vision__image {
    grid-template-columns: 1fr;
  }
  .main__vision .vision__text img {
    width: 200px;
  }
  .main__vision .vision__image .MVTitle {
    width: 40px;
  }
  .main__vision .vision__image .MVDetail {
    height: 350px;
    width: 250px;
  }
  /* MOCKUP  */
  .main__mockup .mockupTitleTop {
    width: 250px;
  }
  .main__mockup img {
    object-position: top center;
  }
  .main__mockup .mockupTitleBottom {
    width: 150px;
  }
  /* TEAM CSS */
  .main__team .team__text img {
    width: 200px;
    height: 25px;
  }

  .main__team .teamMates__teamMate .teamMate__icon img {
    width: 45px;
  }
  .main__team .teamMates__teamMate .teamMate__msg img {
    width: 280px;
  }
  .main__team .team__teamMates {
    width: auto;
  }
  /* TEAMIMAGE */
  .teamMate__teamImage img {
    width: 300px;
    height: 200px;
  }
  /* FOOTER */
  .footer__text img {
    width: 200px;
    height: 40px;
  }
  .body {
    /* background-color: purple; */
  }
}
